<div class="flex flex-col mt-4">
	<p-button
		icon="pi pi-arrow-left"
		[rounded]="true"
		[outlined]="true"
		(onClick)="goBack()"
	/>

	<p-tabView>
		<p-tabPanel header="Informacion del proyecto">
			<div class="flex flex-row justify-between">
				<h2 class="font-bold text-3xl">{{ project.project_name }}</h2>
				@if (projectAlreadyReported) {
				<p-tag
					[rounded]="true"
					severity="danger"
					icon="pi pi-exclamation-triangle"
					value="Reportado"
				></p-tag>
				} @else {
				<p-button
					label="Reportar"
					severity="danger"
					(onClick)="onShowReportDialog()"
				></p-button>
				<p-dialog
					header="Reportar proyecto"
					[modal]="true"
					[(visible)]="showReportDialog"
					[style]="{ width: '35rem' }"
				>
					<div
						class="block mb-5 bg-custom-purple p-2 text-white rounded-lg"
					>
						Explicanos los motivos...
					</div>
					<div class="flex flex-col gap-2 w-full">
						<div class="flex flex-col gap-2">
							<label for="project-name">Motivo</label>
							<input
								pInputText
								id="project-name"
								aria-describedby="project-name"
								[(ngModel)]="reasonForReport"
							/>
						</div>

						<div class="flex justify-content-end gap-2">
							<p-button
								label="Cancelar"
								severity="secondary"
								(click)="onHideReportDialog()"
							/>
							<p-button
								label="Reportar"
								(click)="onReportProject()"
							/>
						</div>
					</div>
				</p-dialog>
				}
			</div>
			<div class="flex gap-4">
				<div class="w-2/3 flex flex-col gap-4">
					<!-- Imagen del proyecto -->
					<img
						class="h-96 w-auto object-none rounded-2xl"
						[src]="project.project_image"
					/>

					<div class="flex">
						<span class="mr-4"
							>Fecha de creacion: {{ project.created_at }}
						</span>
						<p-tag
							*ngFor="let ods of project.project_goals"
							[rounded]="true"
							severity="success"
							icon="pi pi-check-circle"
							[value]="ods"
						></p-tag>
					</div>

					<div class="flex items-center gap-2">
						<!-- Ubicacion del proyecto -->
						<p-tag
							[rounded]="true"
							severity="info"
							icon="pi pi-map-marker"
							[value]="project.project_location"
						></p-tag>

						<!-- Tipo de Infraestructura -->
						<p-tag
							[rounded]="true"
							severity="contrast"
							icon="pi pi-objects-column"
							[value]="project.infrastructure_type"
						></p-tag>
					</div>

					<!-- Descripcion del proyecto -->
					<div class="flex flex-col">
						<span class="font-bold text-xl">Descripcion</span>
						<p>{{ project.project_description }}</p>
					</div>

					<!-- Descripcion de presupuesto detallado -->
					<div class="flex flex-col">
						<span class="font-bold text-xl"
							>Presupuesto detallado</span
						>
						<p>{{ project.budget_description }}</p>
					</div>

					<!-- Documentos -->
					<div class="flex flex-col gap-2">
						<span class="font-bold text-xl">Documentos</span>

						<div class="flex items-center gap-2">
							<p-button
								icon="pi pi-file"
								severity="primary"
								size="large"
							/>
							<a
								href="{{ project.document_url }}"
								target="_blank"
								class="text-custom-purple"
								>Ver documento</a
							>
						</div>
					</div>
				</div>

				<div class="w-1/3">
					<!-- Donations -->
					<!-- Progress bar -->
					<div class="flex flex-col gap-2 mt-4">
						<span
							><span class="font-bold text-xl"
								>Bs. {{ project.amount_raised }}
							</span>
							recaudado de Bs.
							{{ project.required_budget }}</span
						>
						<p-progressBar
							[style]="{ height: '10px' }"
							[value]="
								project.amount_raised / project.required_budget
							"
							[showValue]="false"
						></p-progressBar>

						<!-- Boton para donar -->
						<p-button
							label="Donar"
							icon="pi pi-heart"
							[rounded]="true"
							[style]="{ width: '100%' }"
							(onClick)="showPaymentDialog()"
						></p-button>

						<p-dialog
							header="Realizar donacion"
							[modal]="true"
							[(visible)]="dialogVisible"
							[style]="{ width: '35rem' }"
						>
							<div
								class="block mb-5 bg-custom-purple p-2 text-white rounded-lg"
							>
								❤ Gracias por tu apoyo!
							</div>
							<form
								[formGroup]="donationForm"
								class="flex flex-col gap-4"
							>
								<div class="flex flex-col gap-2 w-full">
									<label for="required-budget">Monto</label>
									<p-inputNumber
										id="required-budget"
										inputId="minmaxfraction"
										mode="currency"
										currency="BOB"
										[minFractionDigits]="2"
										[maxFractionDigits]="2"
										formControlName="amount"
									/>
								</div>

								<div class="flex flex-col gap-1">
									<label htmlFor="cardNumber"
										>Numero de tarjeta</label
									>
									<p-inputMask
										[style]="{ width: '100%' }"
										mask="9999 9999 9999 9999"
										placeholder="1234 1234 1234"
									/>
								</div>

								<div class="flex gap-4">
									<div class="flex flex-col gap-1">
										<label htmlFor="cardNumber"
											>Expiracion</label
										>
										<p-inputMask
											mask="99/99"
											placeholder="00/00"
										/>
									</div>

									<div class="flex flex-col gap-1">
										<label htmlFor="cardNumber"
											>Expiracion</label
										>
										<p-inputMask
											mask="999"
											placeholder="CVC"
										/>
									</div>
								</div>
								<div class="flex justify-content-end gap-2">
									<p-button
										label="Cancelar"
										severity="secondary"
										(click)="hidePaymentDialog()"
									/>
									<p-button
										label="Donar"
										(click)="donate()"
									/>
								</div>
							</form>
						</p-dialog>
						<p-toast />
					</div>
				</div>
			</div>
		</p-tabPanel>

		<!-- Actividades del proyecto -->
		<p-tabPanel header="Actividades del proyecto">
			<div class="flex gap-12">
				<div class="w-1/4 flex flex-col gap-4">
					<div
						class="p-4 bg-custom-yellow rounded-lg flex flex-col gap-4"
					>
						<div class="flex justify-between items-center">
							<span class="text-black text-base"
								>Monto recaudado</span
							>
							<p-tag
								[rounded]="true"
								severity="primary"
								icon="pi pi-check-circle"
							></p-tag>
						</div>
						<span class="text-black font-bold mt-8 text-5xl"
							>+{{ project.amount_raised }} Bs.</span
						>
					</div>

					<div class="p-4 bg-custom-purple rounded-lg flex flex-col">
						<div class="flex justify-between items-center">
							<span class="text-white text-base"
								>Monto restante</span
							>
							<p-tag
								[rounded]="true"
								severity="primary"
								icon="pi pi-check-circle"
							></p-tag>
						</div>
						<span class="text-white font-bold mt-8 text-5xl"
							>+{{
								project.amount_raised - totalAmountSpent
							}}
							Bs.</span
						>
					</div>
				</div>
				<div class="w-3/4">
					<div class="flex flex-col gap-4">
						<!-- Actividades -->
						<div class="flex gap-4">
							<h2 class="text-3xl font-medium m-0">
								Todas las actividades
							</h2>
							<div *ngIf="isCreator">
								<p-button
									label="Crear actividad"
									[outlined]="true"
									[rounded]="true"
									(onClick)="showCreateActivityDialog()"
								></p-button>

								<p-dialog
									header="Crear actividad"
									[modal]="true"
									[(visible)]="createActivityDialogVisible"
									[style]="{ width: '45rem' }"
								>
									<div class="flex flex-col gap-4">
										<div class="flex flex-col gap-2">
											<label for="amount"
												>Monto gastado</label
											>
											<p-inputNumber
												id="required-budget"
												inputId="minmaxfraction"
												mode="currency"
												currency="BOB"
												[minFractionDigits]="2"
												[maxFractionDigits]="2"
												[(ngModel)]="
													newActivity.amount_spent
												"
											/>
										</div>
										<div class="flex flex-col gap-2">
											<label for="description"
												>Descripcion</label
											>
											<p-editor
												[(ngModel)]="
													newActivity.description
												"
												[style]="{ height: '200px' }"
											/>
										</div>
									</div>

									<div class="flex justify-end gap-4 mt-8">
										<p-button
											label="Cancelar"
											severity="secondary"
											(onClick)="
												hideCreateActivityDialog()
											"
										></p-button>
										<p-button
											label="Crear"
											severity="primary"
											(onClick)="addActivity()"
										></p-button>
										<p-toast />
									</div>
								</p-dialog>
							</div>
						</div>
						<h3 class="text-xl font-medium">
							Total gastado
							<span class="text-xl font-bold"
								>{{ totalAmountSpent }} Bs.</span
							>
						</h3>

						@for (activity of activities; track $index) {
						<div class="flex gap-2">
							<div
								class="flex flex-col gap-2 bg-indigo-600 rounded-md p-4 lg:min-w-[500px]"
							>
								<div class="flex justify-between">
									<div class="flex gap-2">
										<img
											class="h-6 w-6 rounded-full"
											src="https://static.vecteezy.com/system/resources/thumbnails/008/442/086/small_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
										/>
										<span
											class="text-white font-semibold"
											>{{ activity?.full_name }}</span
										>
									</div>
									<p-tag
										[rounded]="true"
										severity="danger"
										value="-{{
											activity?.amount_spent
										}} Bs."
									></p-tag>
								</div>
								<div
									class="flex flex-col gap-1 m-0 bg-indigo-600 rounded-lg"
								>
									<div
										class="ql-editor p-0 opacity-90 font-sans leading-normal text-white mt-4 text-base"
										[innerHTML]="activity?.description"
									></div>
								</div>
							</div>
						</div>
						}
					</div>
				</div>
			</div>
		</p-tabPanel>

		<!-- Foro -->
		<p-tabPanel header="Foro">
			<div class="flex flex-col items-center justify-center">
				<div class="flex gap-8 items-center">
					<h2>Actualizaciones del proyecto</h2>
					<div class="" *ngIf="isCreator">
						<p-button
							label="Crear publicacion"
							(onClick)="showCreateUpdateDialog()"
						></p-button>
						<p-dialog
							header="Crear actualizacion"
							[modal]="true"
							[(visible)]="createUpdateDialogVisible"
							[style]="{ width: '45rem' }"
						>
							<div class="flex flex-col gap-4">
								<div class="flex flex-col gap-2">
									<label for="title">Titulo</label>
									<input
										pInputText
										id="title"
										aria-describedby="title"
										[(ngModel)]="newUpdate.title"
									/>
								</div>
								<div class="flex flex-col gap-2">
									<label for="description">Contenido</label>
									<p-editor
										[(ngModel)]="newUpdate.description"
										[style]="{ height: '200px' }"
									/>
								</div>
							</div>

							<div class="flex justify-end gap-4 mt-8">
								<p-button
									label="Cancelar"
									severity="secondary"
									(onClick)="hideCreateUpdateDialog()"
								></p-button>
								<p-button
									label="Crear"
									severity="primary"
									(onClick)="createUpdate()"
								></p-button>
							</div>
						</p-dialog>
					</div>
				</div>

				<!-- Publicaciones -->
				<div class="flex flex-col gap-8 items-center justify-center">
					@for (update of updates; track $index) {
					<div
						class="bg-custom-purple px-16 py-6 rounded-lg flex flex-col gap-2"
					>
						<div class="">
							<!-- Icon user -->
							<div class="flex items-center gap-4">
								<img
									class="h-10 w-10 rounded-full"
									src="https://static.vecteezy.com/system/resources/thumbnails/008/442/086/small_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
								/>
								<span class="text-white">{{
									update?.creator
								}}</span>
							</div>
						</div>

						<div class="flex flex-col gap-1">
							<div
								class="text-custom-purple text-center font-semibold text-2xl m-0 bg-white p-2 rounded-lg"
							>
								{{ update.title }}
							</div>
							<div
								class="ql-editor p-0 opacity-90 font-sans leading-normal text-white mt-4 text-base"
								[innerHTML]="update.description"
							></div>
						</div>

						<!-- Separacion -->
						<div class="h-0.5 bg-white rounded-lg mt-8"></div>

						<div class="text-xl text-white">Commentarios</div>
						@for (comment of update?.comments; track $index) {
						<div>
							<div class="flex items-start gap-2">
								<img
									class="h-6 w-6 rounded-full"
									src="https://static.vecteezy.com/system/resources/thumbnails/008/442/086/small_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
								/>
								<div
									class="flex flex-col gap-1 p-2 bg-indigo-600 rounded-lg"
								>
									<span class="text-white font-semibold">{{
										comment?.full_name
									}}</span
									><span class="text-white">{{
										comment?.comment
									}}</span>
								</div>
							</div>
						</div>
						}

						<div>
							<div class="flex gap-2">
								<input
									pInputText
									placeholder="Escribe un comentario"
									[(ngModel)]="newComment"
								/>
								<p-button
									label="Comentar"
									(onClick)="createComment(update.update_id)"
								></p-button>
							</div>
						</div>
					</div>
					}
				</div>
			</div>
		</p-tabPanel>
	</p-tabView>
</div>
