<div class="flex justify-center items-center h-screen px-16">
	<div class="w-1/2 flex flex-col items-center gap-4 justify-center">
		<img src="../assets/logo/logoEcofinPurple.png" alt="logo" class="w-52" />
		<span class="text-center text-2xl font-sans px-16"
			>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
			maiores eius hic nisi ipsa corporis nam reiciendis velit sapiente
			esse quae ut distinctio neque veniam accusamus, harum iure quod
			temporibus!</span
		>
	</div>
	<p-divider layout="vertical" class="h-full"></p-divider>

	<div class="w-1/2">
		<h2 class="text-3xl text-center font-semibold py-4">Login</h2>

		<form
			[formGroup]="formGroup"
			class="flex flex-col justify-center items-center py-4 gap-4"
		>
			<div class="grid grid-cols-1 gap-4">
				<div class="flex flex-col gap-1">
					<label htmlFor="email">Email</label>
					<span class="p-input-icon-left">
						<i class="pi pi-at"></i>
						<input
							class="w-full"
							type="email"
							pInputText
							id="email"
							formControlName="email"
							placeholder="name@email.com"
						/>
					</span>
				</div>
				<div class="flex flex-col gap-1">
					<label htmlFor="password">Password</label>
					<span class="p-input-icon-right">
						<i class="pi pi-eye"></i>
						<input
							class="w-full"
							type="password"
							pInputText
							id="password"
							formControlName="password"
							placeholder="Type your password..."
						/>
					</span>
				</div>
			</div>
			<p-toast />
			<p-button
				label="Iniciar sesion"
				(onClick)="login()"
				[rounded]="true"
				[outlined]="true"
			></p-button>
		</form>
	</div>
</div>
