<div class="w-full flex flex-col">
	<h1 class="text-3xl font-semibold font-sans">> Gestiona tus proyectos</h1>

	<div
		class="flex flex-col rounded-lg bg-custom-yellow px-4 py-6 w-96 mt-4 shadow-xl"
	>
		<!-- Create project card -->
		<div class="flex justify-between items-center">
			<span class="text-black text-lg font-medium"
				>Empieza con un proyecto</span
			>
			<p-button
				label="Crear"
				severity="secondary"
				(onClick)="showDialog()"
			></p-button>

			<p-dialog
				header="Crear proyecto"
				[modal]="true"
				[draggable]="false"
				[(visible)]="dialogVisible"
				[style]="{ width: '50rem' }"
				[breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
			>
				<form [formGroup]="projectForm" class="flex flex-col gap-8">
					<div class="flex flex-col gap-2">
						<label for="project-name">Nombre del proyecto</label>
						<input
							pInputText
							id="project-name"
							aria-describedby="project-name"
							formControlName="project_name"
						/>
					</div>

					<div class="flex flex-col gap-2">
						<label for="project-description"
							>Descripción del proyecto</label
						>
						<input
							pInputText
							id="project-description"
							aria-describedby="project-description"
							formControlName="project_description"
						/>
					</div>

					<div class="flex flex-col gap-2">
						<label>Subir imagen</label>
						<p-fileUpload
							mode="advanced"
							[showUploadButton]="false"
							chooseLabel="Subir"
							chooseIcon="pi pi-upload"
							name="demo[]"
							url="https://www.primefaces.org/cdn/api/upload.php"
							accept="image/*"
							maxFileSize="10000000"
							(onSelect)="onFileSelected($event)"
						/>
					</div>

					<div class="flex flex-col gap-2">
						<label for="project_location"
							>Ubicación del proyecto</label
						>
						<p-dropdown
							formControlName="project_location"
							[options]="santaCruzProvinces"
							optionLabel="name"
							optionValue="name"
							placeholder="Selecciona una provincia"
						/>
					</div>

					<div class="flex flex-col gap-2">
						<label for="infrastructure-type"
							>Tipo de infraestructura</label
						>
						<p-dropdown
							formControlName="infrastructure_type"
							[options]="infrastructureTypes"
							optionLabel="name"
							optionValue="name"
							placeholder="Selecciona un tipo de infraestructura"
						/>
					</div>

					<div class="flex flex-col gap-2">
						<label class="flex items-center gap-4"
							><span>Presupuesto en detalle</span>
							<p-button
								label="Generar con AI ✨"
								[outlined]="true"
								[rounded]="true"
								(onClick)="generateBudgetDescription()"
							></p-button
						></label>
						<textarea
							id="budged-description"
							rows="10"
							cols="10"
							formControlName="budget_description"
						></textarea>
					</div>

					<div class="flex flex-col gap-2 w-full">
						<label for="required-budget"
							>Presupuesto requerido</label
						>
						<p-inputNumber
							id="required-budget"
							inputId="minmaxfraction"
							mode="currency"
							currency="BOB"
							[minFractionDigits]="2"
							[maxFractionDigits]="2"
							formControlName="required_budget"
						/>
					</div>

					<div class="flex flex-col gap-2">
						<label
							>Subir documentos
							<span class="text-slate-600 text-sm"
								>Para respaldar tu proyecto (Documentacion
								legal, presupuesto, etc)</span
							></label
						>
						<p-fileUpload
							mode="advanced"
							[showUploadButton]="false"
							chooseLabel="Subir"
							chooseIcon="pi pi-upload"
							name="demo[]"
							url="https://www.primefaces.org/cdn/api/upload.php"
							accept=".pdf, .doc, .docx, .csv"
							maxFileSize="10000000"
							(onSelect)="onDocumentSelected($event)"
						/>
					</div>

					<div class="flex flex-col gap-2">
						<label for="project-risks"
							>Riesgos asociados al proyecto</label
						>
						<p-multiSelect
							[options]="riesgosProyecto"
							optionLabel="name"
							optionValue="name"
							placeholder="Selecciona los riesgos asociados al proyecto"
							formControlName="project_risks"
						/>
					</div>

					<div class="flex flex-col gap-2">
						<label for="project-goals"
							>Clasificación y metas ODS</label
						>
						<p-multiSelect
							[options]="metasOds"
							optionLabel="name"
							optionValue="name"
							placeholder="Selecciona las metas ODS"
							formControlName="project_goals"
						/>
					</div>
				</form>

				<div class="flex justify-end gap-4 mt-16">
					<p-button
						label="Cancelar"
						severity="secondary"
						(onClick)="hideDialog()"
					></p-button>
					<p-button
						label="Crear"
						severity="primary"
						(onClick)="createProject()"
					></p-button>
				</div>
			</p-dialog>
		</div>

		<span class="text-black font-bold mt-12 text-6xl"
			>100% <span class="text-lg">Gratis</span>
		</span>
		<!-- <div class="">
			<img
				class="w-56 rounded-xl text-center mt-4"
				src="https://document360.com/wp-content/uploads/2022/06/create_project_documentation_with_examples.png"
			/>
		</div> -->
	</div>

	<div class="flex flex-col gap-4 h-full overflow-y-auto overflow-x-hidden">
		<div class="grid lg:grid-cols-3 grid-cols-2 gap-4 cursor-pointer">
			<!-- Cards for projects -->
			<div
				*ngFor="let project of allProjects"
				class="project-card flex flex-col min-w-52 p-4 shadow-xl rounded-lg border border-red-700 bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg"
				(click)="goToProjectDetails(project.project_id)"
			>
				<img
					class="w-full h-48 object-cover rounded-lg"
					src="{{ project.project_image }}"
				/>
				<div class="flex flex-col mt-4">
					<span class="font-bold text-base text-custom-purple"
						>{{ project.project_location }}, SC</span
					>
					<span class="font-bold text-base">{{
						project.project_name
					}}</span>
				</div>

				<span class="line-clamp-2 mt-2 text-slate-700 text-sm">{{
					project.project_description
				}}</span>

				<!-- Progress bar -->
				<div class="flex flex-col gap-2 mt-4">
					<p-progressBar
						[style]="{ height: '10px' }"
						[value]="
							project.amount_raised / project.required_budget
						"
						[showValue]="false"
					></p-progressBar>

					<span
						><span class="font-bold"
							>Bs. {{ project.amount_raised }} recaudado</span
						>
						de Bs. {{ project.required_budget }}</span
					>
				</div>
			</div>
		</div>
	</div>
</div>
